# **Introduction to Operators**

As we know, Operators are fundamental to any programming language.

Operators in python are `special symbols` that allows us to perform certain operations on variables and numbers.


Understanding how operators will work is crucial for effective programming.

#### **Role of operators**

Operators really play a crucial role in writing any program.

Operators are the tools that enable us to perform tasks like basic arithmetic operations, value comparisions and data manipulation.

**1. Perform calculations:** Basic math operations like addition, subtraction, multiplication and division.

**2. Compare values:** check relationships between values, such as greater than, less than or equal to.

**3. Manipulate data:** To combine strings, change variables and control flow of your program.

#### **Operators in python**

Inpython, we have the following operators
1. Arithmetic operators
2. Comparision operators
3. Logical operators
4. Membership operators
5. Identity operators

##### **1. Arithmetic Operators**

Arithmetic operators in python are used to perform basic mathematical operations on numbers such as addition, subtraction, multiplication, division.

Two operands are required.

Let,s see what arithmetic operators are and how they are used.

**a. Addition (+)**

* For numbers, it performs addition
* For strings, it will concatenate two strings.

In [3]:
# Adding two numbers
result = 5 + 8
print(result)

13

In [13]:
# Concatenating two strings
str1 = "Hello"
str2 = "Everyone"
result = str1 + str2
print(result)

HelloEveryone

**b. Subtraction (-)**
* Used to subtract one number from another.

In [12]:
# Subtracting two numbers
result = 45 - 10
print(result)

35

**c. Multiplication (*)**
* Used to multiple given values and return their product

In [8]:
# Multiplication of two numbers
product = 5 * 10
print(product)

50

**d. Division (/)**
* Used to divide one number by other, resulting in floating point values.

In [9]:
# Division of two numbers
result = 8 / 2
print(result)

4.0

**e. Floor division (//)**
* Performs integer division
* AFter dividing one number by other, it return the `quotient`, discarding fractional part.

In [10]:
# Floor division
result = 9 // 2
print(result)

4

**f. Modulus (%)**
* Used to calculate `remainder` of a division between two numbers.

In [11]:
# Modulus Division
result = 17 % 5
print(result)

2

**g. Exponentiation (* *)**
* Used to raise a number to a specified power.

In [15]:
# Exponentiation
result = 12 ** 2
print(result)

144

#### **2. Comparision operators**

Comparision operators in python are used to compare two values or expressions.

They return a boolean value, eithrt `True` or `False`.

These operators are fundamental for decision making and controlling flow of a program, as used in conditional statements and loops.

The comparision operators are

**a. Equal to (==)**
* Checks if two values are equal

In [16]:
# Equal to
5 == 3

False

In [18]:
# Equal to
result = 10 ==10
print(result)

True

**b. Not equal to (!=)**
* Checks if two values are not equal

In [19]:
# Not equal to
result = 5 != 3
print(result)

True

**c. Greater than (>)**
* Checks if left value is greater than right value.

In [20]:
# Greater than
5 > 10

False

**d. Less than (<)**
* Checks if left value is less than right value.

In [21]:
# Less than
18 < 70

True

**e. Greater than or equal to (>=)**
* Checks if left value is greater than or equal to the right value.

In [22]:
# Greater than or Equal to
19 >= 10

True

**f. Less than or equal to (<=)**
* Checks if left value is less than or equal to the right value.

In [23]:
# Less than or Equal to
19 <= 10

False

##### **Using comparision Operators in conditional statements**

In Python, conditional statements like if, elif, and else are used to control the flow of a program based on certain conditions.

Comparison operators play a key role in these conditions by helping you compare values and make decisions accordingly.

In [25]:
# comparision operators in conditional statements
number = 10

# Check conditions using equal to
# If condition
if number == 10:
  print("The number is 10")

The number is 10

In [26]:
# Checking conditions using greater than and greater than equal to
# Define a variable
age = 25

# Check conditions
if age < 18:
    print("You are a minor.")
elif age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

You are an adult.

#### **3. Logical Operators**

These evaluate expressions and result a boolean value as result, either `True` or `False`, based on logical relationships between the conditions.

Used to combine multiple operations.

**a. and operator**

* Returns True if **`both`** the conditions are `true`.
* If any one of the conditions is `False`, it returns False.

In [27]:
# and operator
2 < 3  and 4 == 5

False

**b. or operator**
* Returns **`True`** if at least one of the conditions is `True`.
* It only returns **`False`** only if both conditions are `False`.

In [28]:
# Or operator
3 == 4 or 8 > 1

True

**c. not operator**
* negates the Boolean value of a condition.
* If the condition is True, not will make it False, and if it is False, not will make it True.

In [31]:
# not operator
not 2 < 3

False

##### **Combining Conditions with Logical operators**

* Logical operators in Python allow you to combine multiple conditions into compound conditions, making your decision-making scenarios more complex and nuanced.
* By using and, or, and not, you can create more sophisticated logic for controlling the flow of your program.

Using 'and' to combine conditions

In [32]:
# Using 'and'
x = 5
y = 10

# Check if x is greater than 3 and y is less than 15
if x > 3 and y < 15:
    print("Both conditions are true.")
else:
    print("At least one condition is false.")

Both conditions are true.

Using 'or' to Combine Conditions

In [33]:
# Using 'or'

a = 8
b = 3

# Check if a is less than 10 or b is greater than 5
if a < 10 or b > 5:
    print("At least one condition is true.")
else:
    print("Both conditions are false.")

At least one condition is true.

Using 'not' to Negate a Condition

In [34]:
# Using 'not'

num = 7

# Check if num is not equal to 10
if not num == 10:
    print("num is not 10.")
else:
    print("num is 10.")

num is not 10.

#### 4. **Membership opeartors**

Membership operators in Python are used to check if a value or variable is present in a sequence like a list, tuple, or string.

They help you determine whether a specific item exists in a collection.

**a. in**
* Returns **`True`** if the value is found in the sequence
* If not found, it returns `False`.

In [36]:
# In Operator
str1 = "Hello"
"O" in str1

False

**b. not in**
* Returns True if the value is not found in the sequence
* If found, it returns False.

In [37]:
# not in
str1 = "Hello"
"O" not in str1

True

#### **5. Identity operators**

Identity operators in Python are used to compare the `memory locations` of two objects to determine if they are the same object in memory.

**a. is**
* Returns True if two variables point to the same object in memory.

In [38]:
# For integers
in_1 = 45
in_2 = 45
in_1 is in_2

True

In [39]:
# For lists
l1 = [23, 45, 67]
l2 = [23, 45, 67]
l1 is l2

False

**b. is not**
*  Returns True if two variables point to different objects in memory.

In [40]:
# For integers
in_1 = 45
in_2 = 45
in_1 is not in_2

False

In [41]:
# For lists
l1 = [23, 45, 67]
l2 = [23, 45, 67]
l1 is not l2

True